<div class="spacer"></div>
<p id="notice"><%= notice %></p>



      <table>
        <thead>
          <th>Userid:</th>
          <th>Votedate:</th>
        </thead>

        <% get_all_users(@vote.post_id).each do |vote| %>
            <tbody>
          <td><%= link_to get_username(vote.user) , @vote.user %></td>
          <td> <%= vote.updated_at%></td>
            </tbody>
        <% end %>

      </table>
<div class="spacer"></div>
<%= link_to 'Back to all posts', posts_path %>