<p id="notice"><%= notice %></p>


<% get_all_users(@vote.post_id).each do |vote| %>
      <table>
        <thead>
          <th>Userid:</th>
          <th>Votedate:</th>
        </thead>
        <tbody>
          <td><%= link_to vote.user.username , @vote.user %></td>
          <td> <%= vote.updated_at%></td>
        </tbody>
      </table>
<% end %>